<div>
    <h2 id="page-heading">
        <span jhiTranslate="simulatorApp.transaction.home.title">Transactions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-transaction"
                [routerLink]="['/transaction/new']">
            <fa-icon icon="plus"></fa-icon>
            <span jhiTranslate="simulatorApp.transaction.home.createLabel">
            Create a new Transaction
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="transactions?.length === 0">
        <span jhiTranslate="simulatorApp.transaction.home.notFound">No transactions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="transactions?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="tranType"><span
                    jhiTranslate="simulatorApp.transaction.tranType">Tran Type</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="status"><span jhiTranslate="simulatorApp.transaction.status">Status</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="mti"><span jhiTranslate="simulatorApp.transaction.mti">Mti</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="de037"><span jhiTranslate="simulatorApp.transaction.de037">De 037</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="de064"><span jhiTranslate="simulatorApp.transaction.de064">De 064</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="bankId"><span jhiTranslate="simulatorApp.transaction.bank">Bank</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']"
                   [infiniteScrollDistance]="0">
            <tr *ngFor="let transaction of transactions ;trackBy: trackId">
                <td><a [routerLink]="['/transaction', transaction.id, 'view']">{{ transaction.id }}</a></td>
                <td jhiTranslate="{{ 'simulatorApp.AcqIssType.' + transaction.tranType }}">{{ transaction.tranType }}</td>
                <td>{{ transaction.status }}</td>
                <td>{{ transaction.mti }}</td>
                <td>{{ transaction.de037 }}</td>
                <td>{{ transaction.de064 }}</td>
                <td>
                    {{ bankKeyValueMap[transaction.bankId] }}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/transaction', transaction.id, 'view']"
                                class="btn btn-info btn-sm">
                            <fa-icon icon="eye"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>

                        <button type="submit"
                                [routerLink]="['/transaction', transaction.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon icon="pencil-alt"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>

                        <button type="submit" (click)="delete(transaction)"
                                class="btn btn-danger btn-sm">
                            <fa-icon icon="times"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
