<div>
    <h2 id="page-heading">
        <span jhiTranslate="simulatorApp.emv.home.title">Emvs</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-emv" [routerLink]="['/emv/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="simulatorApp.emv.home.createLabel">
            Create a new Emv
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="emvs?.length === 0">
        <span jhiTranslate="simulatorApp.emv.home.notFound">No emvs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="emvs?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="emvDescription"><span jhiTranslate="simulatorApp.emv.emvDescription">Emv Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="de5F2A"><span jhiTranslate="simulatorApp.emv.de5F2A">De 5 F 2 A</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="de82"><span jhiTranslate="simulatorApp.emv.de82">De 82</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="de84"><span jhiTranslate="simulatorApp.emv.de84">De 84</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="de95"><span jhiTranslate="simulatorApp.emv.de95">De 95</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="de9A"><span jhiTranslate="simulatorApp.emv.de9A">De 9 A</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let emv of emvs ;trackBy: trackId">
                    <td><a [routerLink]="['/emv', emv.id, 'view']">{{ emv.id }}</a></td>
                    <td>{{ emv.emvDescription }}</td>
                    <td>{{ emv.de5F2A }}</td>
                    <td>{{ emv.de82 }}</td>
                    <td>{{ emv.de84 }}</td>
                    <td>{{ emv.de95 }}</td>
                    <td>{{ emv.de9A }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/emv', emv.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/emv', emv.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(emv)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
