<div>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Bank</th>
                            <th scope="col">Code</th>
                            <th scope="col">IP</th>
                            <th scope="col">Port</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Archway Bank</th>
                            <td>300300300</td>
                            <td>192.168.1.1</td>
                            <td>12345</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Type</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01">
                            <option selected>Choose...</option>
                            <option value="1">Key Management</option>
                            <option value="2">Test</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Connection Status</th>
                            <th scope="col">Sign On</th>
                            <th scope="col">Pin Exchange</th>
                            <th scope="col">Mac Exchange</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Active</td>
                            <td>OK</td>
                            <td>OK</td>
                            <td>OK</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect02">Card</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect02">
                            <option selected>Choose...</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect03">Case</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect03">
                            <option selected>Choose...</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
