<div>
    <h2 id="page-heading">
        <span jhiTranslate="simulatorApp.testCase.home.title">Test Cases</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-test-case"
                [routerLink]="['/test-case/new']">
            <fa-icon icon="plus"></fa-icon>
            <span jhiTranslate="simulatorApp.testCase.home.createLabel">
            Create a new Test Case
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="testCases?.length === 0">
        <span jhiTranslate="simulatorApp.testCase.home.notFound">No testCases found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="testCases?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="caseDescription"><span jhiTranslate="simulatorApp.testCase.caseDescription">Case Description</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="psdnType"><span
                    jhiTranslate="simulatorApp.testCase.psdnType">Psdn Type</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="reqResType"><span jhiTranslate="simulatorApp.testCase.reqResType">Req Res Type</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="mti"><span jhiTranslate="simulatorApp.testCase.mti">Mti</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="mti"><span jhiTranslate="simulatorApp.testCase.de003">De 003</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="mti"><span jhiTranslate="simulatorApp.testCase.de037">De 037</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']"
                   [infiniteScrollDistance]="0">
            <tr *ngFor="let testCase of testCases ;trackBy: trackId">
                <td><a [routerLink]="['/test-case', testCase.id, 'view']">{{ testCase.id }}</a></td>
                <td>{{ testCase.caseDescription }}</td>
                <td jhiTranslate="{{ 'simulatorApp.PsdnType.' + testCase.psdnType }}">{{ testCase.psdnType }}</td>
                <td jhiTranslate="{{ 'simulatorApp.ReqResType.' + testCase.reqResType }}">{{ testCase.reqResType }}</td>
                <td>{{ testCase.mti }}</td>
                <td>{{ testCase.de003 }}</td>
                <td>{{ testCase.de037 }}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/test-case', testCase.id, 'view']"
                                class="btn btn-info btn-sm">
                            <fa-icon icon="eye"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>

                        <button type="submit"
                                [routerLink]="['/test-case', testCase.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon icon="pencil-alt"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>

                        <button type="submit" (click)="delete(testCase)"
                                class="btn btn-danger btn-sm">
                            <fa-icon icon="times"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
