<div>
    <h2 id="page-heading">
        <span jhiTranslate="simulatorApp.bank.home.title">Banks</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-bank"
                [routerLink]="['/bank/new']">
            <fa-icon icon="plus"></fa-icon>
            <span jhiTranslate="simulatorApp.bank.home.createLabel">
            Create a new Bank
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="banks?.length === 0">
        <span jhiTranslate="simulatorApp.bank.home.notFound">No banks found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="banks?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                <!--
                <th scope="col" jhiSortBy="logo"><span jhiTranslate="simulatorApp.bank.logo">Icon</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                -->
                <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="name"><span jhiTranslate="simulatorApp.bank.name">Name</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="code"><span jhiTranslate="simulatorApp.bank.code">Code</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="ip"><span jhiTranslate="simulatorApp.bank.ip">Ip</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="port"><span jhiTranslate="simulatorApp.bank.port">Port</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="isoType"><span jhiTranslate="simulatorApp.bank.isoType">Iso Type</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="masterKey"><span jhiTranslate="simulatorApp.bank.masterKey">Master Key</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']"
                   [infiniteScrollDistance]="0">
            <tr *ngFor="let bank of banks ;trackBy: trackId">
                <!--
               <td>
                   <fa-icon icon="{{ bank.logo }}" fixedWidth="true"></fa-icon>
               </td>
               -->
                <td><a [routerLink]="['/bank', bank.id, 'view']">{{ bank.id }}</a></td>
                <td>{{ bank.name }}</td>
                <td>{{ bank.code }}</td>
                <td>{{ bank.ip }}</td>
                <td>{{ bank.port }}</td>
                <td jhiTranslate="{{ 'simulatorApp.IsoVersions.' + bank.isoType }}">{{ bank.isoType }}</td>
                <td>{{ bank.masterKey }}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/bank', bank.id, 'view']"
                                class="btn btn-info btn-sm">
                            <fa-icon icon="eye"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>

                        <button type="submit"
                                [routerLink]="['/bank', bank.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon icon="pencil-alt"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>

                        <button type="submit" (click)="delete(bank)"
                                class="btn btn-danger btn-sm">
                            <fa-icon icon="times"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
