<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>

    <div class="col-md-9">
        <h1 class="display-4" jhiTranslate="home.title">Simulator Application</h1>

        <p class="lead" jhiTranslate="home.subtitle">Welcome to simulate transactions.</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                      [translateValues]="{ username: account.login, bankId: account.bankId  }">
                    You are logged in as user "{{ account.login }} - Bank Id: {{account.bankId}}
                    ".</span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="home.registration-info.gt1">Please contact CBO to create user or request test access.</span>&nbsp;
                <ul>
                    <li><span jhiTranslate="home.contact-details">Contact Details:</span>
                    </li>
                    <li><span>Ramakrishna - ramakrishna.raja@cbo.gov.om - 24149142</span>
                    </li>
                </ul>
            </div>
        </div>
        <p>
            A financial transaction is an agreement, or communication, carried out between a buyer and a seller to
            exchange an asset for payment.
        </p>
        <p>
            It involves a change in the status of the finances of two or more businesses or individuals. The buyer and
            seller are separate entities or objects, often involving the exchange of items of value, such as
            information, goods, services, and money. It is still a transaction if the goods are exchanged at one time,
            and the money at another. This is known as a two-part transaction: part one is giving the money, part two is
            receiving the goods.
        </p>
        <p>
            ISO8583 is an international standard for financial transaction card originated interchange messaging. It is
            the International Organization for Standardization standard for systems that exchange electronic
            transactions initiated by cardholders using payment cards.
        </p>
        <p>
            ISO8583 defines a message format and a communication flow so that different systems can exchange these
            transaction requests and responses. The vast majority of transactions made when a customer uses a card to
            make a payment in a store (EFTPOS) use ISO 8583 at some point in the communication chain, as do transactions
            made at ATMs. In particular, both the MasterCard and Visa networks base their authorization communications
            on the ISO 8583 standard, as do many other institutions and networks.
        </p>
        <p>
            Although ISO 8583 defines a common standard, it is not typically used directly by systems or networks. It
            defines many standard fields (data elements) which remain the same in all systems or networks, and leaves a
            few additional fields for passing network-specific details. These fields are used by each network to adapt
            the standard for its own use with custom fields and custom usages.
        </p>
    </div>
</div>
