<div>
    <h2 id="page-heading">
        <span jhiTranslate="simulatorApp.mtiConfig.home.title">Mti Configs</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-mti-config" [routerLink]="['/mti-config/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="simulatorApp.mtiConfig.home.createLabel">
            Create a new Mti Config
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="mtiConfigs?.length === 0">
        <span jhiTranslate="simulatorApp.mtiConfig.home.notFound">No mtiConfigs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="mtiConfigs?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="mtiDescription"><span jhiTranslate="simulatorApp.mtiConfig.mtiDescription">Mti Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tnType"><span jhiTranslate="simulatorApp.mtiConfig.tnType">Tn Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="isoType"><span jhiTranslate="simulatorApp.mtiConfig.isoType">Iso Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="mti"><span jhiTranslate="simulatorApp.mtiConfig.mti">Mti</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="repeatMti"><span jhiTranslate="simulatorApp.mtiConfig.repeatMti">Repeat Mti</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="responseMti"><span jhiTranslate="simulatorApp.mtiConfig.responseMti">Response Mti</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="responseRepeatMti"><span jhiTranslate="simulatorApp.mtiConfig.responseRepeatMti">Response Repeat Mti</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nmmIdentifierDe"><span jhiTranslate="simulatorApp.mtiConfig.nmmIdentifierDe">Nmm Identifier De</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nmmIdentifierDeVal"><span jhiTranslate="simulatorApp.mtiConfig.nmmIdentifierDeVal">Nmm Identifier De Val</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="responseIdentifierDe"><span jhiTranslate="simulatorApp.mtiConfig.responseIdentifierDe">Response Identifier De</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="responseIdentifierDeVal"><span jhiTranslate="simulatorApp.mtiConfig.responseIdentifierDeVal">Response Identifier De Val</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let mtiConfig of mtiConfigs ;trackBy: trackId">
                    <td><a [routerLink]="['/mti-config', mtiConfig.id, 'view']">{{ mtiConfig.id }}</a></td>
                    <td>{{ mtiConfig.mtiDescription }}</td>
                    <td jhiTranslate="{{ 'simulatorApp.TranType.' + mtiConfig.tnType }}">{{ mtiConfig.tnType }}</td>
                    <td jhiTranslate="{{ 'simulatorApp.IsoVersions.' + mtiConfig.isoType }}">{{ mtiConfig.isoType }}</td>
                    <td>{{ mtiConfig.mti }}</td>
                    <td>{{ mtiConfig.repeatMti }}</td>
                    <td>{{ mtiConfig.responseMti }}</td>
                    <td>{{ mtiConfig.responseRepeatMti }}</td>
                    <td>{{ mtiConfig.nmmIdentifierDe }}</td>
                    <td>{{ mtiConfig.nmmIdentifierDeVal }}</td>
                    <td>{{ mtiConfig.responseIdentifierDe }}</td>
                    <td>{{ mtiConfig.responseIdentifierDeVal }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/mti-config', mtiConfig.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/mti-config', mtiConfig.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(mtiConfig)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
